package components

templ Index(promptName string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>AI Chat</title>
			<script src="https://cdn.tailwindcss.com"></script>
			<script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
		</head>
		<body>
			<div class="bg-emerald-100 h-screen">
				@header()
				@chatbot(promptName)
				@agplNotice()
			</div>
		</body>
	</html>
}

templ header() {
	// contains title text and input for user's security code
	<div class="bg-gradient-to-r from-emerald-500 to-green-600">
		<section class="py-5">
			<div class="container max-w-screen-xl mx-auto px-4">
				<div class="text-center">
					<h2 class="text-white font-normal text-gray-900 text-4xl md:text-5xl leading-none">
						Our New Chatbot
					</h2>
				</div>
			</div>
		</section>
	</div>
}

templ chatbot(promptName string) {
	<section class="flex flex-col">
		<div class="md:w-1/2 w-full mx-auto mt-3">
			<div
				class="px-5 py-3 rounded-lg text-black bg-slate-100"
				id="chat"
			>
				<div class="w-full flex">
					<button
						class="text-white bg-blue-600 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium hover:bg-blue-700 px-4 py-2 rounded-lg text-sm w-fit mx-auto"
						hx-post={ "/chat/start/" + promptName }
						hx-target="#chat"
						hx-swap="innerhtml"
					>
						Start Chatting!
					</button>
				</div>
			</div>
		</div>
	</section>
}

templ agplNotice() {
	<div class="sticky top-[100vh] text-slate-400 w-screen text-center  mb-1">
		This website is <a href="https://github.com/nkcyber/ai-hacking-lab">open source</a> under the AGPL license.
	</div>
}
