package components

// rendered at /start-chat

templ StartChat(chatId string) {
	@chatHeader()
	@message()
	@message()
	<div>
		@input()
	</div>
}

templ chatHeader() {
	<div class="font-bold text-gray-500 border-b-2 border-gray-400 mb-2">
		Chat
	</div>
}

templ message() {
	<div class="grid grid-cols-5 gap-3 py-2">
		<div>
			Photo
		</div>
		<div class="col-span-4">
			Est nulla ut cupidatat proident adipisicing dolore. Occaecat eiusmod fugiat do est voluptate qui dolore incididunt nostrud. Magna exercitation occaecat est id pariatur velit consequat sint nisi mollit sint amet ex aute.
		</div>
	</div>
}

templ input() {
	<div class="relative w-full mt-3">
		<input
			type="text"
			id="message"
			class="block w-full p-4 text-sm border rounded-lg focus:ring-blue-500 focus:border-blue-500 bg-gray-100 border-gray-300 placeholder-black-400 text-black focus:ring-slate-200 focus:border-slate-200"
			placeholder="Enter your message"
			autofocus
		/>
		<button
			id="submit"
			class="text-white absolute bg-blue-600 bottom-2.5 end-2.5 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium hover:bg-blue-700 px-4 py-2 rounded-lg text-sm"
		>
			Enter
		</button>
	</div>
}
